
1)How many unknown ('?') values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"

Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Week1_GA_dataset.csv')
unknown_count = np.sum(df == '?').sum()
print(f"Number of unknown values: {unknown_count}")
df.replace('?', np.nan, inplace=True)

Number of unknown values: 1823

/usr/local/lib/python3.11/dist-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

2) What is the shape of the dataset ?

A) (10000, 12)

B) (8985, 13)

C) (100043, 14)

D) (100000, 12)

In [13]:
df = pd.read_csv('/content/Week1_GA_dataset.csv')
df.shape

(10000, 12)

3) What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix) \
rows/ columns starts indexing from zero(0) in python

In [14]:
print(df.iloc[692, 0])

2009-11-16

4) What is the value present at the 546th indexed row and 7th indexed column in the data ?

dataframe[546,7] (simpy saying this in a matrix)\
rows/ columns starts indexing from zero(0) in python

In [15]:
print(df.iloc[546, 7])

3

5) What are the unique values present in the Locality feature of the dataset?

A) [Detached House, Duplex, Triplex, Fourplex]

B) [Bridgeport, Fairfield, Greenwich, Norwalk,Stamford,Waterbury, West Hartford]

C) [Boston, California, Greenwich, Stamford]

D) [West Hartford, Waterbury, Norwalk]

In [43]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

6) Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

A) Year

B) Estimated Value

C) Sale Price

D) Locality

E) Property

F) property_tax_rate

In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/Week1_GA_dataset.csv')
df.replace('?', np.nan, inplace=True)
columns_to_check = ['Year', 'Estimated Value', 'Sale Price', 'Locality', 'Property', 'property_tax_rate']
for col in columns_to_check:
  if df[col].isnull().any():
    print(col)

Estimated Value
Locality
Property

7)Which of the following feature has most missing(NaN) values present in the dataset?\
(Note: compute after removing "?")

A) Locality

B) Estimated Value

C) Property

D) carpet_area

In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/Week1_GA_dataset.csv')
df.replace('?', np.nan, inplace=True)
missing_values_count = df.isnull().sum()
column_with_most_missing = missing_values_count.idxmax()
print(column_with_most_missing)

Property

8)Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?\
(Note: compute after removing "?")

In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/Week1_GA_dataset.csv')
df.replace('?', np.nan, inplace=True)

missing_per_row = df.isnull().sum(axis=1)

df_filtered = df[missing_per_row <= 2]

remaining_samples = len(df_filtered)
remaining_samples

9917


9)Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?\
(Note: compute after removing "?")

In [52]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/Week1_GA_dataset.csv')
df.replace('?', np.nan, inplace=True)

df_no_missing = df.dropna()

remaining_samples = len(df_no_missing)
remaining_samples

5449