In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Week1_GA_dataset.csv')

1) Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. \(row/ column indexed from zero(0) in python/pandas)

In [ ]:
DF1 = df.iloc[::2]
print(DF1.iloc[0][3])

111440.0

<ipython-input-4-c15d9f198fe8>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(DF1.iloc[0][3])

2) Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [ ]:
DF1 = df.iloc[::2]
print(DF1.iloc[332][3])

256200.0

<ipython-input-5-5b806701afea>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(DF1.iloc[332][3])

3) Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))\
 Please consider case sensitivity while giving your solution capital letter ≠ small letter\
  If it is a string don't write quotes in the solution.

In [ ]:
DF1 = df.iloc[1::2]
print(DF1.iloc[332][3])

352940.0

<ipython-input-6-8055c03263d5>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(DF1.iloc[332][3])

4) Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))\
Please consider case sensitivity while giving your solution capital letter ≠ small letter\
If it is a string don't write quotes in the solution.

A) Single Family

B) West

C) 2022

D) Detached House

In [ ]:
DF1 = df.iloc[:,1::2]
print(DF1.iloc[100][5])

West

<ipython-input-9-dbb8f6cb4ce8>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(DF1.iloc[100][5])

5) Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))\
Please consider case sensitivity while giving your solution capital letter ≠ small letter\
If it is a string don't write quotes in the solution.

A) Single Family

B) West

C) 2022

D) Detached House

In [ ]:
DF1 = df.iloc[::2,::2]
print(DF1.iloc[255,3])

Detached House

6)  Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [ ]:
recent_years = sorted(df['Year'].unique(), reverse=True)[:6]

recent_rows = df[df['Year'].isin(recent_years)]

num_samples = recent_rows.shape[0]
num_samples

4749

7) Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [ ]:
ROW1 = df[(df['num_rooms']==3) & (df['num_bathrooms']==3)]
print(ROW1.shape)

(2730, 12)

9) In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [ ]:
DF1 = df[(df['Year']==2022) & (df['Locality']=="Greenwich") & (df['num_rooms']==3) & ((df['Face']=='North')|(df['Face']=='East')) ]
print(DF1.shape)
DF1 = df[(df['Year']==2022) & (df['Locality']=="Greenwich") & (df['num_rooms']==3) & (df['Face'].isin(['North','East']))]
print(DF1.shape)

(42, 12)
(42, 12)

10) Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
august_data = df[df['Date'].dt.month == 8]
august_count = len(august_data)
august_count

1050

11) According to the data which Locality have highest average Sale Price?

A) Waterbury

B) Bridgeport

C) Greenwich

D) Norwalk

E) Fairfield

F) West Hartford

G) Stamford

In [ ]:
localities_of_interest = ["Waterbury", "Bridgeport", "Greenwich", "Norwalk", "Fairfield", "West Hartford", "Stamford"]
filtered_data = df[df['Locality'].isin(localities_of_interest)]

average_sale_price_by_locality = filtered_data.groupby('Locality')['Sale Price'].mean()

highest_avg_sale_price_locality = average_sale_price_by_locality.idxmax(), average_sale_price_by_locality.max()
highest_avg_sale_price_locality

('Greenwich', 2270223.539495238)